<!DOCTYPE html>

<html>
  <head>
  	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title><%= title %></title>
  </head>
  <body style="background: #FF3333">

    <h1><%= title %></h1>
    <p>Welcome to my friend <%= title %></p>
    <div>
                <button type="submit" class="btn btn-primary">Add Task</button>

     </div>
      <div class="row" id="input-div">
            <textarea id="input-text" disabled="true" placeholder="   Your message"></textarea>
          </div>
  </body>
</html>